<div class="pt-layout pt-layout--right-sidebar">
  <div class="pt-layout__content">
    <div class="pt-page-header">
      <h1 class="pt-page-header__title"><%= __('friends') %></h1>
    </div>

    <div class="pt-friends-grid">
      <% if (theme.friends && theme.friends.length) { %>
        <% theme.friends.forEach(function(friend){ %>
          <a class="pt-friend-card" href="<%= friend.url %>" target="_blank" rel="noopener">
            <img class="pt-friend-card__avatar" src="<%= friend.avatar %>" alt="<%= friend.name %>" loading="lazy">
            <div>
              <div class="pt-friend-card__name"><%= friend.name %></div>
              <% if (friend.description) { %>
                <div class="pt-friend-card__desc"><%= friend.description %></div>
              <% } %>
            </div>
          </a>
        <% }) %>
      <% } else { %>
        <p style="color:#9A9AB0;grid-column:1/-1;"><%= __('no_posts') %></p>
      <% } %>
    </div>
  </div>

  <aside class="pt-layout__sidebar">
    <%- partial('_partial/sidebar', { config: config, theme: theme, site: site }) %>
  </aside>
</div>
